@use "sass:color";
@use "colors";
@use "inputs";

:root {
  --app-color-accent: #{colors.$accent};
  --app-color-headings: #{colors.$white};
  --app-color-text: rgb(255 255 255 / 90%);
  --app-color-light: #fce3b9;
  --app-color-secondary: #{colors.$secondary};
  --app-color-bg: #201e2a;
  --app-color-bg-transparent: #{color.adjust(#000, $alpha: -0.8)};
  --app-gradient-bg:
    radial-gradient(at 40% 20%, hsla(28,0%,12%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(40,31%,51%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(195,4%,19%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(74,37%,15%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(18,30%,17%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(358,50%,29%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(74,37%,15%,1) 0px, transparent 50%);
  --app-color-primary: #{colors.$primary};
  --app-color-link: #{colors.$white};
  --app-color-link-hover: #{colors.$white};

  // Inputs
  --app-color-input: #{inputs.$color-input};
  --app-color-input-border: #{inputs.$color-border};
  --app-input-bg: #{color.adjust(#fff, $lightness: -10%)};
}